// Place all the styles related to the PoliticalParties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.political-party-logo{
   object-fit: contain;
   object-position: center;
}
.party-info-card{
  height:250px;
}
.politician-details-list {
  li {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
}
